.content {
  z-index: 10;
  border-right: solid 1px #f2f3f7;
}
/* Search input  and cards*/

.form-container {
  display: flex;
}
.form-container i {
  position: absolute;
  color: #777fec;
}
.form-container input {
  border: none;
  height: 40px;
}
.form-container input:focus {
  box-shadow: 0px 3px 5px #ddd !important;
}
/* Change placeholder color */

.form-container input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d4d3e0 !important;
  opacity: 1; /* Firefox */
}

.form-container input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d4d3e0 !important;
}

.form-container input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d4d3e0 !important;
}
.fa-ellipsis-h {
  color: #d4d1df;
  cursor: pointer;
  font-size: small;
}

/* storae cards */
.storageCard {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}
.card {
  border: none !important;
}
.cardHovered {
  position: relative;
  right: 20px;
  bottom: 5px;
  height: 110%;
  width: 100%;
  background: #5a65fe;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
-webkit-box-shadow: 0px 40px 69px -34px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 40px 69px -34px rgba(0,0,0,0.49);
box-shadow: 0px 40px 69px -34px rgba(0,0,0,0.49);
}

@media (max-width: 767px) {
  .cardHovered {
  width: 100%;
  background: #5a65fe;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
-webkit-box-shadow: 0px 40px 69px -34px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 40px 69px -34px rgba(0,0,0,0.49);
box-shadow: 0px 40px 69px -34px rgba(0,0,0,0.49);
}
}

.googledrive .header i {
  color: #fff;
}
.cardIcon {
  width: 50px;
}

.googledrive .header .icon img {
  border-radius: 6px;
  padding: 10px;
  background: #fff;
}
.onedrive .header .icon img,
.dropbox .header .icon img {
  border-radius: 6px;
  padding: 10px;
  background: #f6f8fc;
}


.googledrive .nameContainer,
.onedrive .nameContainer,
.dropbox .nameContainer {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  font-size: medium;
  font-weight: normal;
}
.googledrive .storage,
.onedrive .storage,
.dropbox .storage {
  font-size: small;
}
.progress {
  height: 5px;
}
.progress .bg-blue {
  background: #6190f7;
}
.progress-bar .bg-warning {
  background: #fbbc44;
}

/* Folders  */

.folders,
.recentFiles {
  margin-top: 40px !important;
}
.foldersHeader .foldersTitle,
.recentFiles .header .title {
  margin-left: 5px !important;
  color: #0f1c6e;
  font-size: large;
  font-weight: bold;
}
.folderContainer {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition-delay: 0.05s;
}
.folderContainer:hover {
  box-shadow: 0px 3px 5px #ddd;
}
.folderIconContainer i {
  color: #5964ff;
  font-size: 25px;
}
.folderContainer .folderName {
  margin-top: 6px !important;
  font-weight: bold;
  font-size: 14px;
}
.folderContainer .numberFiles {
  font-size: small;
}

.userImage-1,
.userImage-2,
.userImage-3,
.userImage-plus {
  height: 25px !important;
  border-radius: 20px;
}
.userImage-1 {
  position: relative;
  left: 5px;
  border: solid 1px #f4746e;
  z-index: 1;
}
.userImage-2 {
  position: relative;
  right: 5px;
  border: solid 1px #6671ee;
  z-index: 2;
}
.userImage-plus {
  position: relative;
  right: 5px;
  border: dotted 1px #c7cadf;
  z-index: 3;
}
.numberUserImages {
  position: relative;
  left: 65px;
  z-index: 5;
}

/* Recent files */
.fileIcon {
  height: 25px;
}
.recentFilesTable thead tr th {
  font-size: 15px;
  font-weight: normal;
}
.recentFilesTable tbody .activeRow,
.recentFilesTable tbody tr:hover {
  background: #fff;
  border-radius: 6px !important;
  cursor: pointer;
  box-shadow: 0px 0px 6px #eee;
}
.recentFiles tbody tr .member,
.recentFiles tbody tr .lastModified {
  color: #747ba8;
  font-size: 13px;
}
.recentFiles tbody td .name {
  color: #15226c;
  font-size: 14px;
}
