@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0 !important;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.card-body {
  padding: none;
}
.fa-bars {
  float: right;
  display: none !important;
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-md-7 {
    flex: 0 0 70% !important;
    max-width: 70%;
  }
}

@media (min-width: 1300px) {
  .col-md-3 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-md-7 {
    flex: 0 0 60% !important;
    max-width: 60%;
  }
}
@media (max-width: 1300px) {
  .fa-bars {
    display: block !important;
    position: relative;
    top: 22px;
    left: 5px;
    font-size: 30px !important;
    cursor: pointer;
    color: #5a65fe;
  }
  .mainCompoContainer {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}

@media (min-width: 1300px) {
  #collapseExample {
    display: none !important;
  }
}

/* Custom scroll bar  */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5964ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5964ff;
}

/* MainCompo */
.mainCompo {
  height: 100%;
}

.mainCompoContainer {
  display: flex;
  height: 100%;
  margin-left: 4rem !important;
}
.mainCompoContainer .container-fluid {
  padding: 0;
}

/* End MainCompo */

/* Content */
.content {
  background: #f6f8fc;
}

/* End DataUsage */
